@use "../../styles/mixins" as *;

$text-color: #a7a7a7;
$bg-color: rgba(37, 37, 37, 0.6);

.section {
  border: 1px solid rgba(101, 101, 101, 0.5);
  border-radius: 24px;
  padding: 16px;
  margin: 0 auto;
  background-color: $bg-color;
  position: relative;
  max-width: 354px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 421px;
  height: 100%;

  filter: blur(27px);

  background: linear-gradient(
    to bottom right,
    rgba(185, 135, 86, 1) 0%,
    rgba(185, 135, 86, 0) 50%
  );

  z-index: -1;
}

.title {
  font-family: "Museo Cyrl", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $text-color;
  margin-bottom: 16px;
}

.containerAchievements {
  border-radius: 16px;
  padding: 8px;
  backdrop-filter: blur(30px);
  background-color: $bg-color;
  border: 1px solid rgba(37, 37, 37, 1);
  margin-bottom: 16px;
}

.containerProgressBar {
  border: 0.5px solid rgba(101, 101, 101, 0.5);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;

  .containerProgressStats {
    max-height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;

    .containerIcon {
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }

    .openStats {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: $text-color;
    }

    .allStatsCount {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: #fff;

      .countColor {
        color: $text-color;
      }
    }
  }

  .progressbar {
    border-radius: 8px;
    border: 0.5px solid rgba(101, 101, 101, 0.5);
    padding: 4px;
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    .progressLine {
      width: 100%;
      max-width: 156px;
      min-height: 22px;
      border-radius: 4px;
      background: linear-gradient(
        270deg,
        #d5ba94 0%,
        #b98756 50%,
        #534434 100%
      );
    }

    .progressTrack {
      border-radius: 4px;
      background: #535353;
      width: 100%;
      max-width: 106px;
      min-height: 22px;
    }
  }
}

.listAchievements {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  li {
    border: 0.5px solid rgba(101, 101, 101, 0.5);
    border-radius: 8px;
    padding: 15px 16px;
    flex: 1 1 calc(50% - 8px);

    backdrop-filter: blur(30px);
    background-color: $bg-color;

    .itemCount {
      font-weight: 400;
      font-size: 24px;
      color: #fff;
      margin-bottom: 16px;
    }

    .itemDesc {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: $text-color;
      max-width: 117px;
      min-height: 34px;
    }
  }
}

.containerSelect {
  position: relative;
  width: 100%;

  select {
    border: 1px solid rgba(37, 37, 37, 0.6);
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    backdrop-filter: blur(30px);
    background-color: $bg-color;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-color;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 16px;
    transform: translateY(-10%);
    width: 24px;
    height: 24px;
    background: url("/icons/arrow.svg") no-repeat center / contain;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .section {
    @include responsive-padding(24px);
    max-width: 752px;
  }

  .background {
    height: 292px;
  }

  .subtitle {
    margin-bottom: 24px;
  }

  .listAchievements {
    flex-wrap: nowrap;

    li {
      flex: 1 1 calc(100% - 8px);

      .itemDesc {
        @include size(128px, 34px);
      }
    }
  }

  .containerProgressBar {
    .containerProgressStats {
      .containerIcon {
        gap: 8px;
      }
    }

    .progressbar {
      .progressTrack {
        max-width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    @include responsive-padding(24px);
    max-width: 1184px;
  }

  .background {
    height: 135px;
  }

  .title {
    font-size: 38px;
    margin-bottom: 16px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .containerListStats {
    display: flex;
    gap: 24px;
    max-height: 87px;

    .containerSelect {
      width: auto;
    }
  }

  .containerSelect {
    select {
      width: 157px;
      height: 100%;
      border-radius: 16px;
      padding: 0px 35px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 25px;
      transform: translateY(80%);
      width: 24px;
      height: 24px;
      background: url("/icons/arrow.svg") no-repeat center / contain;
      pointer-events: none;
    }
  }

  .textStats {
    margin-bottom: 0;
  }

  .containerAchievements {
    display: flex;
    gap: 8px;

    .listAchievements {
      width: 50%;
    }

    .containerProgressBar {
      margin-bottom: 0;
      width: 50%;

      .progressbar {
        min-height: 40px;

        .progressLine {
          min-height: 32px;
        }

        .progressTrack {
          min-height: 32px;
        }
      }
    }
  }
}
