@use "../../styles/mixins" as *;

$text-color: #a7a7a7;
$bg-color: rgba(37, 37, 37, 0.6);

.listAchievementsStats {
  display: flex;
  gap: 8px;
  border: 1px solid $bg-color;
  border-radius: 16px;
  padding: 4px;
  background-color: $bg-color;
  margin-bottom: 16px;

  li {
    padding: 16px;
    width: 100%;
    min-height: 96px;
    max-width: 180px;

    .itemNumber {
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #af8d6c;
      margin-bottom: 16px;
    }

    .containerStats {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .textStats {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        color: $text-color;
        opacity: 0.8;
        @include size(123px, 34px);
      }

      .statsCount {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
        color: #535353;
        opacity: 0.8;
      }
    }

    &:first-child {
      border: 1px solid rgba(197, 164, 132, 0.5);
      border-radius: 12px;

      .containerStats {
        height: 100%;
        max-height: 17px;
        align-items: baseline;

        .textStats {
          color: #fff;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .listAchievementsStats {
    flex-wrap: nowrap;

    li {
      position: relative;
      max-width: 216px;

      &:nth-child(2) {
        margin-right: 4px;
      }

      &:nth-child(3) {
        margin-left: 4px;
      }

      &:nth-child(3)::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 8px;
        border: 1px solid #fff;
        width: 64px;
        height: 0px;
        transform: translate(-75%, -50%) rotate(-90deg);
        opacity: 0.05;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .listAchievementsStats {
    margin-bottom: 0;
    flex-grow: 1;

    li {
      min-height: 79px;
      max-width: 349px;

      &:first-child {
        margin-bottom: 0;

        .containerStats {
          min-height: 0;
          max-height: 17px;

          .textStats {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
