@use "../../styles/mixins" as *;

$text-color: #a7a7a7;
$bg-color: rgba(37, 37, 37, 0.6);

.mySwiper {
  width: 100%;
  margin-bottom: 16px;
  min-height: 104px;
  border: 1px solid rgba(37, 37, 37, 0.6);
  border-radius: 16px;
  padding: 4px;

  :global(.swiper-slide) {
    min-height: 104px;
  }

  :global(.swiper-slide) {
    padding: 16px;
    width: 100%;
    min-height: 96px;
    max-width: 180px;

    .itemNumber {
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: #af8d6c;
      margin-bottom: 16px;
    }

    .containerStats {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .textStats {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        color: $text-color;
        opacity: 0.8;
        @include size(123px, 34px);
      }

      .statsCount {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: right;
        color: #535353;
        opacity: 0.8;
      }
    }
  }

  :global(.swiper-slide:first-child) {
    border: 1px solid rgba(197, 164, 132, 0.5);
    border-radius: 12px;

    .containerStats {
      height: 100%;
      max-height: 17px;
      align-items: baseline;

      .textStats {
        color: #fff;
        margin-bottom: 0;
      }
    }
  }

  :global(.customPagination) {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 8px;
  }

  :global(.customPagination .swiper-pagination-bullet) {
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    opacity: 0.5;
    transition: background-color 0.3s ease;
  }

  :global(.customPagination .swiper-pagination-bullet-active) {
    background: black;
    opacity: 1;
  }

  :global(.swiper-pagination) {
    bottom: 2 !important;
    display: flex;
    justify-content: center;
  }

  :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid #535353;
    opacity: 1;
    border-radius: 50%;
    transition:
      background-color 0.3s ease,
      transform 0.2s;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #535353;
    transform: scale(1.2);
  }
}
